<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-PAW CREATE AN ACCOUNT VET</title>
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <header>
    <%= render "vets/shared/error_messages", resource: resource %>
    <div class="container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <label for="createanaccount" class="createanaccount">CREATE AN ACCOUNT</label>
            <div id="inputvalues">

                <div id="inputvalues1user_vet">
                    <div class="nameforaccount">
                        <%= f.text_field :first_name,autofocus: true, placeholder: "NAME" %>
                    </div>

                    <div class="surnameforaccount">
                        <%= f.text_field :last_name, placeholder: "SURNAME" %>
                    </div>

                    <div class="addressforaccount">
                        <%= f.text_field :address, placeholder: "ADDRESS" %>
                    </div>

                    <div class="phonenumforaccount">
                        <%= f.text_field :phone, placeholder: "PHONE NUMBER" %>
                    </div>

                    <div class="certificatenumforaccount">
                        <%= f.text_field :certificate_no, placeholder: "CERTIFICATE NUMBER" %>
                    </div>

                </div>

                <div id="inputvalues2user_vet">
                <em class="birthdate_text">BIRTH DATE</em>
                    <div class="birthdateforaccount">
                        <%= f.date_select :birth_date, start_year: 1900, end_year: Date.today.year ,placeholder: "BIRTH DATE"%>
                    </div> 

                    <div class="emailforaccount">
                        <%= f.email_field :email, autocomplete: "email", placeholder: "E-MAIL" %>
                    </div>

                    <div class="passwordforaccount">
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "new-password", placeholder: "PASSWORD" %>
                    </div>

                    <div class="field">
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "PASSWORD CONFIRMATION" %>
                    </div>
                </div>
            </div>

            <div>
            <%= f.submit "SIGN UP ", style:"width: 140px;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            position: fixed;
            top: 90%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 40px;
            border: none;
            background: linear-gradient(10deg, #085F63, #3F7F82, #b5f0ec);
            color: #fff;" %>
            </div>
        <%= render "vets/shared/links" %>
        <% end %>
        </div>
    </header>
</body>

</html>

