<div class="container">
<%= form_with(model: pet, html: {multipart: true}) do |form| %>
  <% if pet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_inputs">

  <div class="pet-avatar">
  <%= form.label :avatar %> </br>
  <%= form.file_field :avatar %>
  </div>

  <div class="form_input">
    <%= form.text_field :pet_name, placeholder:"PET NAME"  %>
  </div>

  <div class="form_input">
    <%= form.date_field :pet_birthdate,placeholder:"PET BIRTH DATE"  %>
  </div>

  <div class="form_input">
    <%= form.text_field :animal_species,placeholder:"PET SPECIES"  %>
  </div>

  <div class="form_input">
    <%= form.text_field :pet_kind,placeholder:"PET KIND"  %>
  </div>

  <div>
     <%= form.number_field :user_id, value: current_user.id , type:  :hidden%>
  </div>

  </div>

  <div>
    <%= form.submit class:"submitbutton",
    style:"width: 250px;
    height: 40px;"%>
  </div>
<% end %>
</div>