<div id="<%= dom_id pet %>">
  <p>
    <strong>Pet name:</strong>
    <%= pet.pet_name %>
  </p>

  <p>
    <strong>Pet birthdate:</strong>
    <%= pet.pet_birthdate %>
  </p>

  <p>
    <strong>Animal species:</strong>
    <%= pet.animal_species %>
  </p>

  <p>
    <strong>Pet kind:</strong>
    <%= pet.pet_kind %>
  </p>

  

</div>
