<p style="color: green"><%= notice %></p>

<h1>Pets</h1>

<div id="pets">
  <% @pets.each do |pet| %>

    <p>
    <strong>Pet Name:</strong>
    <%= pet.pet_name %>
  </p>
    <p>
      <%= link_to "Show this pet", pet %>
    </p>
  <% end %>
</div>

<%= link_to "New pet", new_pet_path %>
<%= link_to "Back", root_path%>
