<p style="color: green"><%= notice %></p>

<%= render @pet %>


<div>
  <%= link_to "Edit this pet", edit_pet_path(@pet) %> |
  <%= link_to "Back to pets", pets_path %>
  <%= link_to "Health Records", pet_health_records_path(@pet) %>
  <%  if vet_signed_in? %>
  <%= link_to "New health record", new_pet_health_record_path(@pet) %>
  <%end%>
  <%= button_to "Destroy this pet", @pet, method: :delete %>
</div>
