<div class="container">

<div id="dom_id">
<div class="appointment">

  <p class="value">
  <strong>Donation made by:</strong>
  <% @userid = donation.user_id %>
  <% if (@userid!= nil) %>
  <%= User.find(@userid).first_name %>
  <%= User.find(@userid).last_name %>
  <% else %>
  <% @vetid = donation.vet_id %>
  <%= Vet.find(@vetid).first_name %>
  <%= Vet.find(@vetid).last_name %>
  <% end %>
  <% donation.vet_id %>
  </p>

  <p class="value">
    <strong>Donation amount:</strong>
    <%= donation.donation_amount %>
  </p>

  <p class="value">
    <strong>Donation date:</strong>
    <%= donation.created_at %>
  </p>
  </div>
</div>
</div>
