<p style="color: green"><%= notice %></p>

<h1>Donations</h1>

<% @totalAmount= 0 %>



<div id="donations">
  <% @donations.each do |donation| %>

    <% @totalAmount += donation.donation_amount %>

    <% render donation %>
    <p>
      <%= link_to "Show this donation", donation %>
    </p>
  <% end %>

  <div id="friends" class="card" style="width: 18rem;">
    <div class="card-body">

      <h2 class="card-title"> Total donations:</h5>

      <h2 class="card-title"> <%= @totalAmount %></h5>

    </div>  
  </div>

  <br/>
  <p> Recent donations: </p>
  
  <% @donations.each do |donation| %>

    <%= render donation %>
    <p>
      <% link_to "Show this donation", donation %>
    </p>
  <% end %>


</div>

<%= link_to "New donation", new_donation_path %>
<%= link_to "Back", root_path%>
