<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-PAW DONATIONS</title>
    <link rel="stylesheet" href="donation.css">
</head>
<body>
    <header>
    <div class="container">
       <h1 class="edit_text">Donations</h1>
       <% @totalAmount= 0 %>
<div id="donations">
  <% @donations.each do |donation| %>
    <% @totalAmount += donation.donation_amount %>
    <% render donation %>
    
  <% end %>
  <div id="friends" class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title"> Total Donations:</h5>
      <h2 class="card-title"> <%= @totalAmount %></h5>
    </div>  
  </div>
  <br/>
  <p> Recent donations: </p>
  
  <% @donations.each do |donation| %>
     
    <div class="donation_infos">
    <p class="donation_info">
    <strong>Donation amount:</strong>
    <%= donation.donation_amount %>
    </p>
     <p class="donation_info">
     <strong>Donation made by:</strong>
     <% @userid = donation.user_id %>
     <% if (@userid!= nil) %>
     <%= User.find(@userid).first_name %>
     <%= User.find(@userid).last_name %>
  
     <% else %>
     <% @vetid = donation.vet_id %>
     <%= Vet.find(@vetid).first_name %>
     <%= Vet.find(@vetid).last_name %>
     <% end %>
     </div>
     <% donation.vet_id %>
     </p>
     <p class="show_app">
     <% link_to "Show this donation", donation %>
     </p>
  <% end %>
  </div>
<div class="show_app" id="new_app">
<%= link_to "New donation", new_donation_path %>
</div>
<div class="back_btn">
      <%= link_to image_tag("back-button.png", alt: "Back",style: "width: 50px; height: 50px;"), root_path %>
</div>
</div>
</header>
</body>
</html>
