<div id="<%= dom_id health_record %>">
  <p>
    <strong>Pet:</strong>
    <%= health_record.pet_id %>
  </p>

  <p>
    <strong>Vet:</strong>
    <%= health_record.vet_id %>
  </p>

  <p>
    <strong>Health treatments:</strong>
    <%= health_record.health_treatments %>
  </p>

  <p>
    <strong>Health notes:</strong>
    <%= health_record.health_notes %>
  </p>

</div>
