<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-PAW LOG IN VET</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <header>
        <div class="container">
        
        <%= image_tag("epaw-logo.png", class: "logoimg",
        style:"max-width: 179px;
        max-height: 141px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);") %>
            <h2 class="logintext">LOG IN</h2>


            <div class="loginpage">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.email_field :email, id:"loginemail", autofocus: true, autocomplete: "email", placeholder:"E-MAIL" %>
              </div>
              
              <div class="field">
                <%= f.password_field :password, id:"loginpassword", autocomplete: "current-password", placeholder:"PASSWORD" %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me ,id:"remember_me"%>
                  <%= f.label :remember_me, id:"remember_me_text" %>
                </div>
              <% end %>

  <div>
    <%= f.submit "LOG IN", style:"width: 140px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    border: none;
    background: linear-gradient(10deg, #085F63, #3F7F82, #b5f0ec);
    color: #fff;" %>
  </div>
<% end %>

<%= render "vets/shared/links" %>
