<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <p>
    <strong>Pet Name:</strong>
    <%= Pet.find(appointment.pet_id).pet_name %>
  </p>
  <p>
  <strong>Description:</strong>
  <%= appointment.description %>
</p>
    <p>
      <%= link_to "Show this appointment", appointment %>
    </p>
  <% end %>
</div>

<%if user_signed_in?%>
<%= link_to "New appointment", new_appointment_path %>
<% end %>
<%= link_to "Back", root_path%>
