<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-PAW APPOINTMENT</title>
    <link rel="stylesheet" href="appointment.css">
</head>
<body>
    <header>
    <div class="container">
        <h1 class="appointment_text">Appointments</h1>
        
        <div class="show_app" id="new_app">
        <%if user_signed_in?%>
        <%= link_to "New appointment", new_appointment_path %>
        <% end %>
        </div>

        </br></br></br></br>

        <% @appointments.each do |appointment| %>
        
        <div id="appointments">
        <p class="appointment_info">
        <strong>Pet Name:</strong>
        <%= Pet.find(appointment.pet_id).pet_name %>
        </p>

        <p class="appointment_info">
        <strong>Description:</strong>
        <%= appointment.description %>
        </p>

        <p class="show_app">
        <%= link_to "Show this appointment", appointment %>
        </p>

        </div>

        <% end %>


      <div class="back_btn">
      <%= link_to image_tag("back-button.png", alt: "Back",style: "width: 50px; height: 50px;"), root_path %>
      </div>
      </div>
</header>
</body>
</html>