<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-PAW CREATE AN ACCOUNT USER</title>
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <header>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <label for="createanaccount" class="createanaccount">EDIT YOUR ACCOUNT</label>
            <div id="inputvalues">

                <div id="inputvalues1">
                    <em class="text">NAME</em>
                    <div class="nameforaccount">
                        <%= f.text_field :first_name,autofocus: true, placeholder: "NAME" %>
                    </div>
                    <em class="text">SURNAME</em>
                    <div class="surnameforaccount">
                        <%= f.text_field :last_name, placeholder: "SURNAME" %>
                    </div>
                    <em class="text">PHONE NUMBER</em>
                    <div class="phonenumforaccount">
                        <%= f.text_field :phone, placeholder: "PHONE NUMBER" %>
                    </div>
                    <em class="text">ADDRESS</em>
                    <div class="addressforaccount">
                        <%= f.text_field :address, placeholder: "ADDRESS" %>
                    </div>

                    <em class="birthdate_text">BIRTH DATE</em>
                    <div class="birthdateforaccount">
                        <%= f.date_select :birth_date, start_year: 1900, end_year: Date.today.year, placeholder: "BIRTH DATE" %>
                    </div>

                </div>

                <div id="inputvalues2">

                    <em class="text">E-MAIL</em>
                    <div class="emailforaccountedit">
                        <%= f.email_field :email, autocomplete: "email", placeholder: "E-MAIL" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

                    <div >Unhappy?
                     <%= button_to "Cancel my account",
                      registration_path(resource_name), 
                      data: { confirm: "Are you sure?", 
                      turbo_confirm: "Are you sure?" }, 
                      method: :delete,
                      style:" width: 150px;
                      height: 20px;
                      font-size: 15px;
                      background-color: #FFF6F1;
                      border: none;" %>
                    </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

        
    </header>
</body>

</html>


